/* Typography */
$title-font: 'Abril Fatface', cursive;

/* Customized Styles */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.text-centered {
  text-align: center;
}

.toolbar {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px #ccc solid;
  display: none;
  padding: 10px 0;

  .button{
    margin: 0;
    padding-top: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 0.85rem;
  }
}

.newspaper {
  width: 960px;
  margin: 20px auto;
  display: none;
  padding: 0 10px;

  h1 {
    text-align: center;
    font-family: $title-font;
    font-size: 3.75em;
  }

  .column-left {
    float: left;
    min-width: 400px;
  }

  .column-right {
    float: right;
    min-width: 300px;
  }

  .column1, .column2 {
    width: 100%;
  }

  .tweet-container {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0;
    border-radius: 5px;
    margin: 10px 0;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    position: static;
    visibility: visible;
  }
}