/* Typography */
$title-font: 'Abril Fatface', cursive;

@media print {
  .no-print, .no-print *{
    display: none !important;
  }
}

/* Customized Styles */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.text-centered {
  text-align: center;
}

.title {
  text-align: center;
  font-family: $title-font;
  font-size: 3.75em;
  line-height: 1.3;
}

.start {
  margin-top: 12%;
}

.toolbar {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px #ccc solid;
  display: none;
  padding: 10px 0;

  .button {
    margin: 0;
    padding-top: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 0.85rem;
  }

  #ready{
    float: right;
  }
}

.newspaper {
  width: 960px;
  margin: 0 auto;
  display: none;
  padding: 0 10px;

  .subtitle {
    border-top: 1px #222 solid;
    border-bottom: 1px #222 solid;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .column-left {
    float: left;
    min-width: 400px;
  }

  .column-right {
    float: right;
    min-width: 300px;
  }

  .column1, .column2 {
    width: 100%;
  }

  .tweet-container {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px #999 solid;
    position: static;
    visibility: visible;
  }

  .column-right .tweet-container{
    border: none;
    margin: 5px 0;
  }
}