/* Typography */
$title-font: 'Abril Fatface', cursive;
$serif: 'Vollkorn', serif;
$sans: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

/* Colors */
$dark-grey: #222;
$light-grey: #666;

@media print {
  .no-print, .no-print *{
    display: none !important;
  }
}

body{
  font-family: $serif;
}

/* Customized Styles */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.text-centered {
  text-align: center;
}

.title {
  text-align: center;
  font-family: $title-font;
  font-size: 3.75rem;
  line-height: 1.3;
}

.start {
  padding-top: 9%;

  .subtitle{
    color: $light-grey;
    font-family: $serif;
    margin-bottom: 30px;
  }

  label{
    font-size: 1rem;

    input{
      margin-top: 5px;
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.toolbar {
  width: 100%;
  min-height: 30px;
  border-bottom: 1px #ccc solid;
  display: none;
  padding: 10px 0;
  background-color: #F7F7F7;

  .button {
    margin: 0;
    padding-top: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 0.85rem;
  }

  #color{
    float: right;
    margin-right: 10px;
  }

  #ready{
    float: right;
  }
}

.bw{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tips{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
  padding-top: 10%;

  h1{
    font-family: $serif;
  }

  p{
    font-size: 1.125em;
  }
}

.newspaper {
  width: 960px;
  margin: 0 auto;
  display: none;
  padding: 0 10px;

  .subtitle {
    border-top: 1px $dark-grey solid;
    border-bottom: 1px $dark-grey solid;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: $sans;
  }

  .column-left {
    float: left;
    min-width: 400px;
  }

  .column-right {
    float: right;
    min-width: 300px;
  }

  .column1, .column2 {
    width: 100%;
  }

  .tweet-container {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px #999 solid;
    position: static;
    visibility: visible;
  }

  .column-right .tweet-container{
    border: none;
    margin: 5px 0;
  }
}